
<!-- <ag-grid-angular
    style="width: 500px; height: 150px;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs">
</ag-grid-angular> -->
<button (click)="getSelectedRows()">Get Selected Rows</button>
<ag-grid-angular
    #agGrid
    style="width: 1000px; height: 250px;"
    class="ag-theme-balham"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [paginationAutoPageSize]="true"
    [pagination]="true"
    (gridReady)="onGridReady($event)"
    rowSelection="multiple">
</ag-grid-angular>
