<ag-grid-angular
    #agGrid
    style="width: 750px; height: 250px;"
    class="ag-theme-balham"
    [rowData]="dataa"
    [columnDefs]="column"
    [defaultColDef]="defaultColDef"
    [paginationAutoPageSize]="true"
    [pagination]="true"
    [editType]="editType" 
    (rowEditingStopped)="editedRow($event)"
    rowSelection="multiple"
    rowMultiSelectWithClick = "true">
</ag-grid-angular>
<br>
<button class = "normal" (click)="updateRow()">UPDATE</button> 
<button class = "normal" (click)="delete()">DELETE</button>
<button class = "hidden" (click) = "hidden()">HIDDEN</button>
<!-- <button (click) = "hidden()">SHOW HIDDEN</button> -->
